dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.DS_Store
*.skey
var/
.envrc
my-atlas-config-maestro.json
my-preprod-maker-bot-config-gens.yaml
my-preprod-maker-bot-config-gens-v2.yaml
